#aboutus-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}
.page-name {
  display: flex;
  align-items: center;
  height: 112px;
  justify-content: center;
  width: 25%;
  /* border: 2px solid red; */
  font-size: 58px;
}

.page-name h1 {
  position: absolute;
  color: #fff;
  font-size: 100px;
  margin-block: 0px;
}
.page-name h1:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #8338ec;
}

.page-name h1:nth-child(2) {
  color: #c19bf5;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}
.revert-home-btn {
  margin-left: 1382px;
  width: 93px;
  padding: 10px;
  font-size: 20px;
  border-radius: 20px;
  /* text-decoration: none; */
  border: none;
  background-color: rgb(150, 64, 226);
  color: white;
  cursor: pointer;
}
.page-name h1 {
  -webkit-text-stroke: 2px #8338ec;
  color: white;
}

.images-div {
  margin-top: 42px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  width: 35%;
}
.portfolio-image {
  display: flex;
  justify-content: center;
  height: 160px;
  width: 160px;
  border-radius: 100px;
  border: 4px solid #8338ec;
  align-items: center;
}
.portfolio-image img {
  /* border: 2px solid; */
  height: 150px;
  width: 150px;
  border-radius: 100px;
}
.plus h1 {
  font-size: 78px;
  -webkit-text-stroke: 2px #8338ec;
  color: transparent;
}

.description {
  height: 466px;
  width: 100%;
  margin-top: 50px;
}
.wave-div {
  width: 100%;
  margin-top: -327px;
}
.portfolio-image::before {
  content: " ";
  position: absolute;
  background: transparent;

  left: 0;
  height: 1000px;
  width: 100%;
  z-index: -1;
  opacity: 0.9;
}
.portfolio-dwnld-btn {
  display: flex;
  flex-direction: row;
  margin-top: -388px;
}
.btn1 {
  width: 150px;
  margin-right: 20px;
  height: 35px;
  border-radius: 9px;
  border: none;
  /* border: 2px solid purple; */
  font-size: 15px;
  background-color: #ffff67;

  box-shadow: 0px 0px 8px #555519;
}
.portfolio-dwnld-btn .btn1:hover {
  background-color: #dbdbaa;
  color: purple;
  cursor: pointer;
}
.btn2 {
  width: 150px;
  margin-right: 20px;
  height: 35px;
  border-radius: 9px;
  border: none;

  font-size: 15px;
  background-color: #ffff67;
  box-shadow: 0px 0px 8px #555519;
}
.portfolio-dwnld-btn .btn2:hover {
  background-color: #dbdbaa;
  color: purple;
  cursor: pointer;
}
.yellow-bg {
  background-color: #8338ec;
  height: 200px;
  width: 100%;
  margin-top: -10px;
}
.introduction {
  display: flex;
  flex-direction: column;

  margin-left: 17%;
  width: 70%;
}
.introduction h1 {
  color: white;
  font-size: 3rem;
  -webkit-text-stroke: 1px #8338ec;
}
.introduction p {
  margin-top: 20px;
  color: #8338ec;

  text-align: justify;
  font-size: 1.5rem;
}

.auto-input {
  color: rgb(255, 246, 125);
}
.footer {
  display: flex;
  flex-direction: row;
  width: 18%;
  justify-content: space-around;
  /* border: 2px solid red; */
  margin-top: 120px;

  align-items: center;
}
